/* movie list and card */

.movieContainer {
  width: 30%;
  height: min-content;
  padding: 1%;
}

.movieHeader {
  display: flex;
  justify-content: space-between;
}

.moviePic {
  width: 100%;
  aspect-ratio: 3/5;
  /* border-radius: 30px; */
}

.movieList-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 0;
}

.movieDetailsContainer {
  text-align: center;
  width: 70%;
}

.movieDetailsContainer .moviePic {
  width: 60%;
  aspect-ratio: 5/3;
}


/* add movie */

.add-movie {
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 20px;
  margin: 10px 0;
}

.inputField {
  padding: 10px;
}

.addMovie-btn {
  margin-left:auto;
  padding: 15px;
}


/* movie details */

.main-container-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.movie-info {
  width: 80%;
  margin-bottom: 20px;
}

.head-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* edit movies */

.update-movie {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  width: 80%;
}

/* responsive media queries */

@media screen and (min-width:1641px) {
  .movieContainer {
    width: 18%;
    height: min-content;
    padding: 1%;
  }
}

@media screen and (min-width:1200px) and (max-width:1641px) {
  .movieContainer {
    width: 28%;
    height: min-content;
    padding: 1%;
  }
}

@media screen and (min-width:801px) and (max-width:1199px) {
  .movieContainer {
    width: 40%;
    height: min-content;
    padding: 1%;
  }
}

@media screen and (max-width:800px) {
  .movieContainer {
    width: 80%;
    height: min-content;
    padding: 4%;
  }
}

/* Color Game */

.colour-game{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


/* basic-form */

.basic-form{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}


/*  book */

/* book list and card */

.bookContainer {
  width: 30%;
  height: min-content;
  padding: 1%;
}

.bookHeader {
  display: flex;
  justify-content: space-between;
}

.bookPic {
  width: 100%;
  aspect-ratio: 3/5;
  /* border-radius: 30px; */
}

.bookList-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  padding: 25px 0;
}

.bookDetailsContainer {
  text-align: center;
  width: 70%;
}

.bookDetailsContainer .moviePic {
  width: 60%;
  aspect-ratio: 5/3;
}


/* book details */

.main-container-info {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.book-info {
  width: 80%;
  margin-bottom: 20px;
}

.head-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* edit books */

.update-book {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input {
  width: 80%;
}

/* add book */

.add-book {
  display: flex;
  flex-direction: column;
  padding: 3%;
  gap: 20px;
  margin: 10px 0;
}

.inputField {
  padding: 10px;
}

/* responsive media queries */

@media screen and (min-width:1641px) {
  .bookContainer {
    width: 18%;
    height: min-content;
    padding: 1%;
  }
}

@media screen and (min-width:1200px) and (max-width:1641px) {
  .bookContainer {
    width: 28%;
    height: min-content;
    padding: 1%;
  }
}

@media screen and (min-width:801px) and (max-width:1199px) {
  .bookContainer {
    width: 40%;
    height: min-content;
    padding: 1%;
  }
}

@media screen and (max-width:800px) {
  .bookContainer {
    width: 80%;
    height: min-content;
    padding: 4%;
  }
}



/* Users */

/* signup */
.add-User{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  gap: 10px;
}


